[Bb]in/
[Oo]bj/
out/

.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates
*.suo

node_modules/
dist/
.eslintcache

.DS_Store
Thumbs.db

appsettings.Development.json
appsettings.Production.json
appsettings.local.json